.navbar{
    border: 2px solid black;
}
.navbar-log{
    display: flex;
    margin: 0 1rem 0 0;
    font-size: 1.2rem;
}
.navbar-log a{
    margin: 0 1rem 0 2rem ;
}
.navbar-nav{
    margin: 0 0 0 4rem;
    font-size: 1.2rem;
}
.navbar-nav a{
    margin: 0 3rem 0 0;
}
.navbar-brand img{
    max-width: 4rem;
    max-height: 3rem;
}
@media screen and (max-width:600px){
    .home-container{
        display: grid;
    }
    .container{
        background-color: white;
    }
    .slider{
        margin: 1rem 0 0 1rem;
        width: 28rem;
        height: 30rem;
    }
    .carousel-item img{
        max-width: 25rem;
        height: 25rem;
    }
    .card{
        margin: 0 0 1rem 3rem;
        max-width: 18rem;
        height: 16rem;

    }
    .card-img-top{
        height: 16rem;

    }
    .card-holder{
        background-color: rgb(245, 235, 235);
    }
}
