<% layout("/INCLUDE/boilerplate")%>
<style>
    .div-contact{
        width:45rem;
        height: 40rem;
        margin: 3rem 0 0 20rem;
        background-color: beige
    }
    .data{
        width: 45rem;
        height: 35rem;
        margin: 2rem 0 0 3rem;
    }
    .input{
        margin: 4rem 0 0 3rem;
    }
    .text{
        width: 30rem;
        height: 5rem;
        margin: 2rem 0 0 0;
    }
    #textarea{
        width: 30rem;
        height: 15rem;
    }
    .btn{
        margin: 1rem 0 0 3rem;
        font-size: 1.4rem;
        
    }
    .btn button{
        width: 30rem;
        background-color: blue;
        color: white;
    }
    .heading{
        margin: 1rem 0 0 3rem;
    }

</style>
<div class="div-contact">
    <div class="data">
        <div class="heading">
        <h1>Get In Touch</h1>
        <span>Any need mail at @aadityakuamr518@gmail.com</span>
    </div>
        <div class="input">
            <input type="text" placeholder="enter the email address" class="text">
            <input placeholder="write the query" id="textarea" class="text"></input>
        </div>
        <div class="btn">
            <button>Submit</button>
        </div>
    </div>
</div>