<% layout("/INCLUDE/boilerplate")%>
  <div class="home-container">
    <!-- <h1 class="home">NOVEL's</h1> -->
     <br>
  <div class="slider">
    <img src="B.jpg" alt="network error">
    <p>
      The novel is a genre of fiction, and fiction may be defined as the art or craft of contriving, 
      through the written word, representations of human life that instruct or divert or both. 
      The various forms that fiction may take are best seen less as a number of separate categories
       than as a continuum or, more accurately, a cline, with some such brief form as the anecdote at 
       one end of the scale and the longest conceivable novel at the other.
       
    </p>
  </div>
  <div id="card-holder">
    <div class="card">
        <img src="https://www.madrasshoppe.com/122292-large_default/harry-potter-and-the-prisoner-of-azkaban-harry-potter-3-latest-edition-3-september-2014-jk-rowling.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Harry Potter Part 3</h5>
        <p class="card-text">Nice Novel
        </p>
        <button class="btn btn-primary">Read More</button>
      </div>
    </div>
    <div class="card">
        <img src="https://m.media-amazon.com/images/I/81YoazRCtBL._UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Harry Potter Part 4</h5>
        <p class="card-text">Attractive Book
          </p>
        <a href="#" class="btn btn-secondary">Read More</a>
      </div>
    </div>
    <div class="card">
        <img src=http://images.amazon.com/images/P/0345339681.0...	 class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">The Hobbit</h5>
        <p class="card-text">Adventure and Heroism</p>
        <a href="#" class="btn btn-success">Read More</a>
      </div>
    </div>
    <div class="card">
      <img src="b2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the 
          content.</p>
        <a href="https://drive.google.com/drive/u/0/folders/10OXnTa7uLWPHbRprUy3QIBsXKceMGqLq.pdf"
          class="btn btn-info">Read More</a>
      </div>
    </div>
  </div>

  <div id="card-holder2">
    <div class="card">
        <img src="http://images.amazon.com/images/P/1558743669.0...	" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">A Child Called 'It'</h5>
        <p class="card-text">Survival and Resilience 
        </p>
        <button class="btn btn-primary">Read More</button>
      </div>
    </div>
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi00wYi7M5cjtdDR-uYgihQwXuzVdOBp28ZQ&s" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Harry Potter Part 1</h5>
        <p class="card-text">Attractive & Fantastic Book
          </p>
        <a href="#" class="btn btn-secondary">Read More</a>
      </div>
    </div>
    <div class="card">
        <img src="http://images.amazon.com/images/P/0151008116.0...	" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Life Of Pi</h5>
        <p class="card-text">Faith and Spirituality 
        .</p>
        <a href="#" class="btn btn-success">Read More</a>
      </div>
    </div>
    <div class="card">
        <img src="http://images.amazon.com/images/P/0316666343.0...	" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lovely Bones</h5>
        <p class="card-text">Family and Healing </p>
        <a href="https://drive.google.com/drive/u/0/folders/10OXnTa7uLWPHbRprUy3QIBsXKceMGqLq.pdf"
          class="btn btn-info">Read More</a>
      </div>
    </div>
  </div>
