<% layout("/INCLUDE/boilerplate")%>
  <div class="home-container">
    <!-- <h1 class="home">NOVEL's</h1> -->
     <br>
  <div class="slider">
    <img src="B.jpg" alt="network error">
    <p>
      The novel is a genre of fiction, and fiction may be defined as the art or craft of contriving, 
      through the written word, representations of human life that instruct or divert or both. 
      The various forms that fiction may take are best seen less as a number of separate categories
       than as a continuum or, more accurately, a cline, with some such brief form as the anecdote at 
       one end of the scale and the longest conceivable novel at the other.
       
    </p>
  </div>
  <div id="card-holder">
    <div class="card">
      <img src="w.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text 
        </p>
        <button class="btn btn-primary">Read More</button>
      </div>
    </div>
    <div class="card">
      <img src="b2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on t
          </p>
        <a href="#" class="btn btn-secondary">Read More</a>
      </div>
    </div>
    <div class="card">
      <img src="b2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to 
          content.</p>
        <a href="#" class="btn btn-success">Read More</a>
      </div>
    </div>
    <div class="card">
      <img src="b2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the 
          content.</p>
        <a href="https://drive.google.com/drive/u/0/folders/10OXnTa7uLWPHbRprUy3QIBsXKceMGqLq.pdf"
          class="btn btn-info">Read More</a>
      </div>
    </div>
  </div>

  <div id="card-holder2">
    <div class="card">
      <img src="w.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text 
        </p>
        <button class="btn btn-primary">Read More</button>
      </div>
    </div>
    <div class="card">
      <img src="b2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on t
          </p>
        <a href="#" class="btn btn-secondary">Read More</a>
      </div>
    </div>
    <div class="card">
      <img src="b2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to 
          content.</p>
        <a href="#" class="btn btn-success">Read More</a>
      </div>
    </div>
    <div class="card">
      <img src="b2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the 
          content.</p>
        <a href="https://drive.google.com/drive/u/0/folders/10OXnTa7uLWPHbRprUy3QIBsXKceMGqLq.pdf"
          class="btn btn-info">Read More</a>
      </div>
    </div>
  </div>
