<% layout("/INCLUDE/boilerplate")%>
<style>
    #one {
        display: flex;
        margin: 2rem 0 0 0;
    }

    #two{
        display: flex;
        margin: 2rem 0 0 0;
    }
    #three {
        display: flex;
        margin: 2rem 0 0 0;
    }

    #four{
        display: flex;
        margin: 2rem 0 0 0;
    }
    #five{
        display: flex;
        margin: 1rem 0 0 0;
    }



</style>
<div id="one">
    <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>

<div id="two">
    <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>

<div id="three">
    <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>

<div id="four">
    <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>

<div id="five">
    <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="b1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
