<% layout("/INCLUDE/boilerplate")%>
<style>
    #one {
        display: flex;
        margin: 2rem 0 0 0;
    }

    #two{
        display: flex;
        margin: 2rem 0 0 0;
    }
    #three {
        display: flex;
        margin: 2rem 0 0 0;
    }

    #four{
        display: flex;
        margin: 2rem 0 0 0;
    }
    #five{
        display: flex;
        margin: 1rem 0 0 0;
    }



</style>
<div id="one">
    <div class="card" style="width: 18rem;">
        <img src="https://www.madrasshoppe.com/122292-large_default/harry-potter-and-the-prisoner-of-azkaban-harry-potter-3-latest-edition-3-september-2014-jk-rowling.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/81YoazRCtBL._UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src=http://images.amazon.com/images/P/0345339681.0...	 class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/1558743669.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">A Child CalledIt: One Child's Courage to S...	</h5>
          <p class="card-text">Dave Pelzer</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
</div>

<div id="two">
    <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi00wYi7M5cjtdDR-uYgihQwXuzVdOBp28ZQ&s" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0151008116.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Yann Martel	</h5>
          <p class="card-text">Life of Pi	</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/059035342X.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0449005615.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">LAURA HILLENBRAND</h5>
          <p class="card-text">Seabiscuit: An American Legend</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
</div>

<div id="three">
    <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0446310786.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0446672211.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Billie Letts	</h5>
          <p class="card-text">Where the Heart Is</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0316666343.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Author Name</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0451524934.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">1984</h5>
          <p class="card-text">George Orwell	</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
</div>

<div id="four">
    <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0060959037.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Prodigal Summer: A Novel</h5>
          <p class="card-text">Barbara Kingsolver</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0380789019.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Neil Gaiman</h5>
          <p class="card-text">Neverwhere	</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0142001740.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Secret Life of Bees</h5>
          <p class="card-text">Sue Monk Kidd</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0060392452.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Stupid White Men ...and Other Sorry Excuses fo...</h5>
          <p class="card-text">Michael Moore</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
</div>

<div id="five">
    <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0385484518.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tuesdays with Morrie: An Old Man, a Young Man,...</h5>
          <p class="card-text">MITCH ALBOM	</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0452282152.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Girl with a Pearl Earring</h5>
          <p class="card-text">Tracy Chevalier</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0312195516.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Red Tent</h5>
          <p class="card-text">Anita Diamant</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="http://images.amazon.com/images/P/0385486804.0...	" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Into the Wild	</h5>
          <p class="card-text">Jon Krakauer	</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
</div>
