<style>
    @media screen and (min-width:900px) {
      .footer{
        margin: 2rem 0 0 0;
        background-color: whitesmoke;
        color: black;
    }
    .card-footer{
        color: rgb(255, 67, 67);
    }
    .foot{
        display: flex;
        /* margin: 1rem 2rem 1rem 8rem; */
    }
    .footer-Media,.footer-contact,.footer-About,.footer-Help{
        /* border: 2px solid red; */
        width: 17rem;
        margin: .3rem 0 0rem 2rem;
    }
    .contact-data{
        margin: 1.5rem 0 0 0;
        padding: 1rem 0 0 0;
        display: grid;
        gap: 1rem;
    }
    
     .contact-data a:hover{
        cursor: pointer;
        /* background-color: black; */
        box-shadow: none;
        font-size: 1.4rem;
     }
     .div{
        background-color: black;
     }
     span{
        font-size: 1.3rem;
     }
     .card-footer{
        font-size: 1.4rem;
     }
    }
</style>

<div class="footer text-center">
    <div class="card-header">
        <!-- FOOTER -->
    </div>
    <hr>
    <div class="foot">
        <div class="footer-Media">
            <span>Follow Links</span>
            <div class="contact-data">
                <a href="https://www.youtube.com/@Duckomemes592"> <i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.instagram.com/__i.am__/"> <i class="fa-brands fa-instagram"></i></a>
                <a href=""> <i class="fa-brands fa-telegram"></i></a>
                <a href=""> <i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
        <div class="footer-contact">
            <span>Contact</span>
            <div class="contact-data">
                <span>8130.....</span>
                <span>....@gmail.com</span>
            </div>
        </div>



        <div class="footer-About">
            <span>About</span>
            <div class="contact-data">
                <span>Sustainability</span>
                <span>Privacy Policy</span>
                <span>Terms</span>
                <span>Accessibility</span>
            </div>
        </div>




        
        <div class="footer-Help">
            <span>Resources</span>
            <div class="contact-data">
                <span>Support</span>
                <span>App Directory</span>
                <span>Developers & API</span>
                <span>Partners</span>
                <span>Events</span>
            </div>
        </div>
    </div>

    <div class="card-footer ">
        @Novel Book
    </div>
</div>